<div class="form-group">
  <label for="fname">fname</label
  ><input type="text" id="fname" #fname required class="form-control" />
</div>
<div class="form-group">
  <label for="lname">lname</label
  ><input type="text" id="lname" #lname required class="form-control" />
</div>
<div class="form-group">
  <label for="email">email</label
  ><input type="text" id="email" #email required class="form-control" />
</div>
<div class="form-group">
  <label for="contact">contact</label
  ><input type="text" #contact id="contact" required class="form-control" />
</div>
<button (click)="onstdAdd()" class="btn btn-sm btn-danger btn-block">
  Add Student
</button>
